* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial, san-serif";
}

body {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  background: #f5f6fa;
  color: rgba(0, 0, 0, 0.87);
}

.main-container {
  display: flex;
}

.main-container-1 {
  width: 15vw;
  height: 100vh;
}

.logo-icon {
  font-size: 2rem;
  color: #344767;
  margin-right: 8px;
}
.logo-info {
  padding: 25px 32px 8px 32px;
  text-align: center;
  opacity: 1;
  background: transparent;
  color: #344767;
  box-shadow: none;
}

.fading-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, transparent, gray, transparent);
}

.root-list {
  margin: 2px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.root-list a {
  text-decoration: none;
  color: #344767;
  margin-top: 1px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 19px;
  width: 85%;
}

.root-list .nav-btn:hover {
  margin-top: 2px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background: gray;
  transition: background 0.3s ease, transform 0.2s ease;
}
.root-list .nav-btn.active:hover {
  color: #fff;
  background: linear-gradient(180deg, #3d3d3d 0%, #1a1a1a 100%);
}
.root-list .active {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
  background: linear-gradient(180deg, #3d3d3d 0%, #1a1a1a 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
}

.root-list .icon{
  font-size: 18px;
}

.root-list .nav-btn.logout-btn{
  position: absolute;
  bottom: 0;
  width: 75%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff !important;
  background: linear-gradient(180deg, #3d3d3d 0%, #1a1a1a 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, transform 0.2s ease;
}

.main-container-2 {
  width: 85vw;
  height: 100vh;
}
